<h1>Fornecedores</h1>

<% if @suppliers.any? %>
  <table>
    <thead>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Localização
        </th>
      </tr>
    </thead>
    <tbody>
      <% @suppliers.each do |s| %>
        <tr>
          <td><%= link_to(s.corporate_name, supplier_path(s.id)) %></td>
          <td><%= s.city %>·-·<%= s.state %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>Não existem Fornecedores cadastrados</h2>
<% end %>